# default values
HOST=localhost
PORT=3000

# db config 
# this is optional, using locally, or supabase with connection string
PGHOST=localhost
PGUSER=postgres
PGPASSWORD=pw
PGDATABASE=db_name
PGPORT=5432

# supabase db conn str (session pooler)
DATABASE_URL=postgresql://postgres.unique_char:your_pw@unique_char.supabase.com:5432/postgres

# jwt config
JWT_SECRET=yoursecpw
JWT_EXPIRES_IN=1h