# server conf
HOST=localhost
PRODUCTION_HOST=0.0.0.0
PORT=3000
CORS_ORIGIN=

# db config
PGHOST=localhost
PGUSER=postgres
PGPASSWORD=your-pw
PGDATABASE=db_cashier_wabw
PGPORT=5432

# supabase (if using supabase)
DATABASE_URL=
# local pg db
DATABASE_DEV_URL=

# supabase storage
SUPABASE_URL=
SUPABASE_SERVICE_KEY=

# local redis (docker)
REDIS_DEV_URL="redis://:your-pw@localhost:6379"
# REDIS_URL=
# REDISHOST=
# REDISPORT=
# REDISPASSWORD=

# jwt config
JWT_SECRET=your-secret-jwt
# hour expires
JWT_EXPIRES_IN=1h 